.Title{
    position: relative;
    padding: 1rem 4rem 0rem;
    font-family: Avenir,"Century Gothic",sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
}

.nav-bar{
    position: relative;
    padding: 0rem 4rem 0rem;
    border-bottom: 1px solid gray;
}

.tablinks{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 12px;
    font-family: Avenir,"Century Gothic",sans-serif;
    font-weight: 1;
    font-style: normal;
    text-transform: uppercase;
    border-bottom:none;
    /* background-color: #003660; */
    /* color: white; */
    margin: 2px;
    padding: 2px 10px;
}

.TabContainers{
    padding: 1rem 4rem;
}

.TabContent{
    padding: 2rem 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vmax, 1fr));
    grid-gap: 2rem;
    background-color:rgba(0,0,0,.2);
}

#Container{
    border: 2px solid black;
    display: grid;
    text-align: center;
    padding: 1rem;
    /* border-radius: 8px; */
    background-color: white;
}

.Container::before{
    padding-bottom: 100%;
    display: block;
}

.Container:hover{
    scale: 1.1;
}

.content{
    grid-area: 1 / 1 / 2 / 2;
}

.PeopleTab{
    padding: 1rem 4rem;
}

.PeopleTabGrid{
    padding: 2rem 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vmax, 1fr));
    grid-gap: 2rem;
    background-color: rgba(0,0,0,.2);
}

.Contact{
    border: 2px solid black;
    display: grid;
    text-align: center;
    padding: 1rem;
    /* border-radius: 8px; */
    background-color: white;
}

.row{
    display: flex;
}

.column{
    width: 50%;
}

.Photo img{
    max-width:100%;
    max-height:100%;
}

.Photo{
    padding-right: 10px;
}

.content img{
    width:  20%;
    height: auto;
}

.cLabs > * {
    display: inline-block;
}

.calendar{
    padding: 1rem 4rem;
}
.calendarContent{
    padding: 2rem 2rem;
    border-radius: 8px;
    background-color:rgba(0,0,0,.2);
}
.HomeContent{
    padding: 2rem 2rem;
    border-radius: 8px;
    background-color:rgba(0,0,0,.2);
}