/* Style components found in /static/js/components 
and handle standard lab index.html layout. */

:root {
    --primary: #000000;
    --accent: #0D8B28;
    --secondary: #404040;
    --tertiary: #5E5E5E;
    --header-color: #06390D;
    --h2: 24px;
    --body-text: 18px;
    --light-text: #FFFFFF;
    --border-radius: 10px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #000;
}

/* Header */
header-component {
  border-radius: 10px;
  margin: 1rem;
  display: block;
}

.manual {
  text-align: center;
  margin-bottom: 50px;
}

.manual .manual-link img {
  max-width: 100%;
}

.manual .manual-title {
  text-align: center;
  margin-top: 0px;;
}

/* End Header */

/* Tool Detail Component */
tool-detail-component {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 10px;
}

/* Tool Detail Component */
tool-detail-component knob-component {
  justify-content: center;
  display: flex
}

/* Toolbar Component */
toolbar-component {
  margin: 0 1rem 0 1rem;
  padding: 1rem 3rem;
  background-color: var(--secondary);
  border-radius: 10px;
}

toolbar-component ul {
  list-style: none;
  overflow: scroll;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

toolbar-component ul li button {
  max-height: 100px;
  max-width: 224px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #5e5e5e;
  border: none;
  text-transform: uppercase;
}

toolbar-component ul li button.active {
  background-color: #0D8B28;
}

toolbar-component ul li button:hover {
  background-color: #375C3E;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Video Component */
video-component {
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 10px;
  min-height: 360px;
}

.video-row {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.video-row video-component {
  flex: 2;
}

.video-row tool-detail-component {
  flex: 1;
}

@media (min-width: 768px) {
  .video-row {
    flex-direction: row;
  }

  tool-detail-component {
    margin-top: 0;
    margin-left: 1rem;
    max-width: 360px;
  }
}