#electrometer {
<<<<<<< HEAD
    width:60%;
}
#multimeter {
    width:60%;
}
#filterwheel {
 width:30% ;  
 transform: rotate(0deg);
}
=======
    width:100%;
}
#multimeter {
    width:100%;
}

/* This flips the video */
#v2 {
    transform: rotate(180deg);
} 
>>>>>>> master
