.glower {
  cursor: pointer;
}

.glower:hover {
  border-style: solid;
  border-width: 10px;
  border-color: #fddd7c;
}

.glower:active {
  border-color: #fdd47c;
}

.heading {
  text-align: center;
}

.image {
  text-align: center;
}

.columns {
  width: 100%;
}

.image-2 {
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-3 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.image-4 {
  position: static;
  max-width: none;
  margin-top: -148px;
  margin-left: -53px;
  padding-top: 1px;
  float: none;
  clear: none;
  -webkit-transform: scale(0.5) rotate(168deg);
  -ms-transform: scale(0.5) rotate(168deg);
  transform: scale(0.5) rotate(168deg);
}

.image-5 {
  margin-top: 19px;
  margin-left: -27px;
  float: left;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.image-6 {
  margin-top: 6px;
  margin-right: -11px;
  float: right;
  -webkit-transform: rotate(-26deg);
  -ms-transform: rotate(-26deg);
  transform: rotate(-26deg);
}

.column {
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: none;
  object-fit: none;
}

.image-7 {
  margin-top: 94px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.image-8 {
  margin-top: 55px;
  margin-right: auto;
  margin-left: 16px;
}

.image-9 {
  max-width: none;
  margin-top: 156px;
  margin-left: -57px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.image-27 {
  overflow: visible;
  max-width: none;
  margin-top: -96px;
  margin-left: -57px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.image-10 {
  margin-top: -34px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.image-11 {
  margin-top: 7px;
  margin-left: -23px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.image-12 {
  margin-top: -21px;
  margin-left: 50px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.image-13 {
  margin-top: -33px;
  margin-left: 22px;
  -webkit-transform: rotateX(-80deg) rotateY(0deg) rotateZ(126deg);
  transform: rotateX(-80deg) rotateY(0deg) rotateZ(126deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.video {
  margin-top: 0px;
}

.video-2 {
  margin-top: 14px;
}

.heading-2 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  text-align: center;
}

.image-14 {
  margin-top: -33px;
  margin-left: 50px;
  padding-left: 0px;
  -webkit-transform: rotate(-123deg);
  -ms-transform: rotate(-123deg);
  transform: rotate(-123deg);
}

.image-15 {
  margin-top: -21px;
  margin-left: 50px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.image-16 {
  margin-top: -34px;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.image-17 {
  margin-top: -33px;
  margin-left: 50px;
  -webkit-transform: rotate(-123deg);
  -ms-transform: rotate(-123deg);
  transform: rotate(-123deg);
}

.heading-3 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  text-align: center;
}

.video-3 {
  margin-top: 13px;
}

.video-4 {
  margin-top: 14px;
}

.image-18 {
  margin-left: 155px;
  -webkit-transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  transform: rotate(-23deg);
}

.image-19 {
  margin-left: -23px;
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
}

.image-20 {
  margin-left: 0px;
  float: right;
}

.image-21 {
  margin-top: -212px;
}

.video-5 {
  margin-top: 14px;
}

.image-22 {
  margin-top: 65px;
}

.image-23 {
  margin-top: 0px;
  margin-left: 149px;
  padding-top: 0px;
  -webkit-transform: rotate(-29deg);
  -ms-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.image-24 {
  margin-top: -46px;
  margin-left: 34px;
  -webkit-transform: rotate(-91deg);
  -ms-transform: rotate(-91deg);
  transform: rotate(-91deg);
}

.image-25 {
  margin-top: -57px;
  margin-left: 28px;
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  transform: rotate(165deg);
}

.text-block {
  text-align: center;
}

.text-block-2 {
  margin-top: 52px;
  margin-right: -13px;
  margin-left: -20px;
  padding-left: 0px;
  text-align: center;
}

.text-block-3 {
  margin-top: -38px;
  text-align: center;
}

.text-block-4 {
  margin-top: -10px;
  padding-left: 7px;
  text-align: center;
}

.text-block-5 {
  text-align: center;
}

.text-block-6 {
  position: relative;
  left: 0px;
  padding-left: 0px;
  text-align: center;
}

.text-block-6.sub6 {
  padding-left: 124px;
}

.image-26 {
  margin-left: 49px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}



.image-28 {
  margin-top: 0px;
}

.heading-4 {
  text-align: center;
}

.heading-5 {
  text-align: center;
}

.text-block-7 {
  text-align: center;
}

.text-block-8 {
  text-align: center;
}
.lrhShift {
  /* align-self: left; */
  /* vertical-align: middle; */
  margin-top: 5%;
  margin-right: 10%;
}
.leftShift {
  position: relative;
  margin-top: 14%;
  margin-left: -5%;
}
.rightShift {
  position: relative;
  /* margin-top: 14%; */
  /* margin-left: 7%; */
}
.vAngleStepButtons {
  position: relative;
  margin-top: -145%;
  margin-left: 90%;
}
