h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.column {
  display: block;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.pagecontainer {
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  background-color: rgba(0, 0, 0, 0.2);
  border: black;
  border-radius: 10px;
  border-width: 3px;
}

.list .list-item {
  background-color: blanchedalmond;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
}