h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.column {
  display: block;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.pagecontainer {
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.outer1{
  opacity: 1;
  border: 2px solid rgba(0,0,0,1);
}

.outer1:hover .lamp_img{
  opacity: .3;
}

.outer{
  opacity: 1;
  border: 2px solid rgba(0,0,0,1);
}

.outer:hover .image{
  opacity: .3
}