h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.column {
  display: block;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.pagecontainer {
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn-settings {
  background-color: #337ab7;
  color: white;
}
button.btn-settings:active {
  color: white;
}
.modal {
    overflow: hidden;
}
.modal-header .close {
  text-align: center;
}
.modal-body h3 {
  text-align: center;
}

#myModalschem{
  width: 500px;
  height: 300px;
}

#arrowbuttonCW{
  margin-bottom: 0px;
}

#arrowbuttonCCW{
  margin-bottom: 0px;
}

.arrowbuttonCW{
  opacity: 1;
  width: 50%;
  float:left;
}
.arrowbuttonCW:hover #arrowbuttonCW{
  opacity:.3;
}

.arrowbuttonCCW{
  opacity: 1;
  width: 50%;
  float: left;
}
.arrowbuttonCCW:hover #arrowbuttonCCW{
  opacity:.3;
} 

.arrowCW{
  opacity:1;
  width: 50%;
  float:left;
}
.arrowCW:hover #arrowCW{
  opacity:.3;
}

.arrowCCW{
  opacity:1;
  width: 50%;
  float:left;
}
.arrowCCW:hover #arrowCCW{
  opacity:0.3;
}

.uparrow{
  opacity:1;
}
.uparrow:hover #uparrow{
  opacity:0.3;
}

.downarrow{
  opacity:1;
}
.downarrow:hover #downarrow{
  opacity:0.3;
}

.mTelescopeImg{
  display:inline-block;
  width: 175px;
  padding-right: 8%;
}

.mGratingImg{
  display:inline-block;
  width: 125px;
  margin-left: 6%;
  margin-right:6%;
  vertical-align: top;
}

.mLampImg{
  display:inline-block;
  width:100px;
  padding-left: 2%;
  vertical-align: top;
}