#canvas-wrap { 
    position:relative; /* Make this a positioned parent */
    z-index: 10000!important
}
canvas{
    /* height: 350px;
    width: 700px; */
    position:relative; 
    z-index: 1000!important;
    top:0px;
    left:0px;
    visibility: hidden;
} 
#v_overlay    { 
    position:absolute; 
    top:-15px; 
    left:10px; 
    z-index: 100;
}
#v {
   background-color: rgba(59, 59, 59, 0.5); 
    z-index: 100;
    position:absolute; 
    top:0px; 
    left:0px; 
}